<div class="article-footer-copyright">
<p>本文由 <%= theme.copyright.author %> 发表于 <a href="<%= theme.copyright.site %>" target="_blank">个人博客</a></p>
<p>非商业转载请注明作者及出处。商业转载请联系<a href="mailto:<%= theme.copyright.email%>">作者</a>本人。</p>
<p>
本文标题为: <%= post.title %><br/>
</p>
<p>
本文链接为: <a href="<%- url_for(post.path) %>" target="_blank"><%=theme.copyright.site%><%- url_for(post.path) %></a>
</p>
</div>
