<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %>" itemscope itemprop="blogPost">
  <% if(page.path != 'tags/index.html' && page.path != 'about/index.html' && page.path != 'categories/index.html') { %>
  <div class="article-meta">
    <%- partial('post/date', {class_name: 'article-date', date_format: null}) %>
    <%- partial('post/category') %>

    <% if (config.leancloud_visitors && config.leancloud_visitors.enable) { %>
      <%- partial('post/leancloud')  %>
    <% } %>

  </div>
  <% } %>
  <div class="article-inner">
    <% if (post.link || post.title){ %>
      <header class="article-header">
        <%- partial('post/title', {class_name: 'article-title'}) %>
      </header>
    <% } %>
    <div class="article-entry" itemprop="articleBody">
      <% if (post.excerpt && index){ %>
        <%- post.excerpt %>
        <% if (theme.excerpt_link){ %>
          <p class="article-more-link">
            <a href="<%- url_for(post.path) %>#more"><%= theme.excerpt_link %></a>
          </p>
        <% } %>
      <% } else { %>
        <% if(!index && post.toc != false){ %>
            <div id="toc" class="toc-article">
                <strong class="toc-title">文章目录</strong>
                <%- toc(post.content, {
                    class: 'post-toc',
                    list_number: false
                    }) %>
            </div>
        <% } %>
        <% if (page.path === "tags/index.html"){ %>
            <div id="tag-category">
                <%- list_categories({
                    depth: 1,
                }) %>
                <hr>
                <div class="tags" >
                <%- tagcloud({
                   min_font: 10,
                   max_font: 30,
                   amount: 999,
                   color: true,
                   start_color: 'grey',
                   end_color: 'blue',
                }) %>
                </div>
            </div>
        <% }  %>
        <%- post.content %>
      <% } %>
    </div>


    <% if (!index && theme.donate.enable==true && post.donate!=false){ %>
	    <%- partial('post/donate') %>
    <% } %>

    <% if (!index && theme.copyright.enable==true && post.copyright!=false){ %>
	    <%- partial('post/copyright') %>
    <% } %>

    <footer class="article-footer">
      <% if (post.comments && config.disqus_shortname){ %>
        <a href="<%- post.permalink %>#disqus_thread" class="article-comment-link">Comments</a>
      <% } %>
      <%- partial('post/tag') %>
    </footer>
    <% if (!index && post.mathjax==true){ %>
	    <%- partial('post/mathjax') %>
    <% } %>
  </div>
  <% if (!index){ %>
    <%- partial('post/nav') %>
  <% } %>
</article>

<% if (!index && post.comments && config.duoshuo_shortname){ %>
  <section id="comments">
    <!-- 多说评论框 start -->
    <div class="ds-thread" data-thread-key="<%= page.path %>" data-title="<%= page.title %>" data-url="<%= page.permalink %>"></div>
    <!-- 多说评论框 end -->
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
    var duoshuoQuery = {short_name:'<%= config.duoshuo_shortname %>'};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
      </script>
    <!-- 多说公共JS代码 end -->
  </section>
  <% } %>

<% if (!index && post.comments && config.disqus_shortname){ %>
<section id="comments">
  <div id="disqus_thread">
    <noscript>Please enable JavaScript to view the <a href="//disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  </div>
<script>
  var disqus_shortname = '<%= config.disqus_shortname %>';
  <% if (page.permalink){ %>
  var disqus_url = '<%= page.permalink %>';
  <% } %>
  (function(){
    var dsq = document.createElement('script');
    dsq.type = 'text/javascript';
    dsq.async = true;
    dsq.src = 'https://' + disqus_shortname + '.disqus.com/<% if (page.comments) { %>embed.js<% } else { %>count.js<% } %>';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  }());
</script>
</section>
<% } %>

<% if (!index && post.share){ %>
  <%- partial('post/share') %>
<% } %>

